<!DOCTYPE html>
html(lang="en")

  include ../templates/head
  
  body
  .wrapper
    .welcome-page
      .content
        .card
          .card__main
            .card__avatar
              img.card__avatar_img(src="img/avatar.jpg", alt="My photo")
            .card__name Iurii Prytula
            .card__description: p.card__description_paragraph Hello, this is my personal page.
            .card__socials
              ul.socials
                li.socials__item: a.socials__link.socials__link_fb(href="#"): i.fa.fa-facebook(aria-hiddeb="true")
                li.socials__item: a.socials__link.socials__link_li(href="#"): i.fa.fa-linkedin(aria-hiddeb="true")
                li.socials__item: a.socials__link.socials__link_gh(href="#"): i.fa.fa-github(aria-hiddeb="true")
          nav.welcome-page__nav 
            ul.welcome-page__nav__list
              li.welcome-page__nav__item: a.welcome-page__nav__link(href="#") My portfolio
              li.welcome-page__nav__item: a.welcome-page__nav__link(href="#") About me
      .copyright
        p.copyright__content Iurii Prytula | Created with love | &copy; 2017
    .parallax
      - for(var i = 1; i <= 10; i++)
        - var src = "img/parallax-layers/mountains_for_parallax_" + i + ".png";
        - var parallaxLayerClass = "parallax__layer_" + i;
        - var parallaxImageClass = ".parallax__image_" + i; 
          div.parallax__layer(class=parallaxLayerClass)
            img.parallax__image(class=parallaxImageClass src=src)
      //- .parallax__layer.parallax__layer_01
      //-   img.parallax__image.parallax__image_01(src="img/parallax-layers/mountains_for_parallax_1.png", alt="")
      //- .parallax__layer.parallax__layer_02
      //-   img.parallax__image_02(src="img/parallax-layers/mountains_for_parallax_2.png", alt="")
      //- .parallax__layer.parallax__layer_03
      //-   img.parallax__image.parallax__image_03(src="img/parallax-layers/mountains_for_parallax_3.png", alt="")
      //- .parallax__layer.parallax__layer_04
      //-   img.parallax__image.parallax__image_04(src="img/parallax-layers/mountains_for_parallax_4.png", alt="")
      //- .parallax__layer.parallax__layer_05
      //-   img.parallax__image.parallax__image_05(src="img/parallax-layers/mountains_for_parallax_5.png", alt="")
      //- .parallax__layer.parallax__layer_06
      //-   img.parallax__image.parallax__image_06(src="img/parallax-layers/mountains_for_parallax_6.png", alt="")
      //- .parallax__layer.parallax__layer_07
      //-   img.parallax__image.parallax__image_07(src="img/parallax-layers/mountains_for_parallax_7.png", alt="")
      //- .parallax__layer.parallax__layer_08
      //-   img.parallax__image.parallax__image_08(src="img/parallax-layers/mountains_for_parallax_8.png", alt="")
      //- .parallax__layer.parallax__layer_09
      //-   img.parallax__image.parallax__image_09(src="img/parallax-layers/mountains_for_parallax_9.png", alt="")
      //- .parallax__layer.parallax__layer_10
      //-   img.parallax__image.parallax__image_10(src="img/parallax-layers/mountains_for_parallax_10.png", alt="")
  include ../templates/preloader
  script(src="../js/jquery.min.js")
  script(src="../js/main.js")