<!DOCTYPE html>
html(lang="en")

  include ../templates/head
  
  body
    .welcome-page__wrapper
      .content
        .card
          .card__main
            .card__avatar
              img.card__avatar_img(src="img/avatar.jpg", alt="My photo")
            .card__name Iurii Prytula
            .card__description: p.card__description_paragraph Hello, this is my personal page.
            .card__socials
              ul.socials
                li.socials__item: a.socials__link.socials__link_fb(href="#"): i.fa.fa-facebook(aria-hiddeb="true")
                li.socials__item: a.socials__link.socials__link_li(href="#"): i.fa.fa-linkedin(aria-hiddeb="true")
                li.socials__item: a.socials__link.socials__link_gh(href="#"): i.fa.fa-github(aria-hiddeb="true")
          nav.welcome-page__nav 
            ul.welcome-page__nav__list
              li.welcome-page__nav__item: a.welcome-page__nav__link(href="#") My portfolio
              li.welcome-page__nav__item: a.welcome-page__nav__link(href="#") About me
      .copyright
        p.copyright__content Iurii Prytula | Created with love | &copy; 2017
      include ../templates/preloader
    script(src="../js/jquery.min.js")
    script(src="../js/main.js")