footer.footer
  .container
      .flexbox-container
        nav.nav
          ul.nav__list
            li.nav__item: a.nav__link(href="#") My portfolio
            li.nav__item: a.nav__link(href="#") About me
        .socials
          ul.socials
            li.socials__item: a.socials__link.socials__link_fb(href="#"): i.fa.fa-facebook(aria-hiddeb="true")
            li.socials__item: a.socials__link.socials__link_li(href="#"): i.fa.fa-linkedin(aria-hiddeb="true")
            li.socials__item: a.socials__link.socials__link_gh(href="#"): i.fa.fa-github(aria-hiddeb="true")
      .footer__info
        .row
          .col-lg-3.col-sm-12.col-xs-12
            ul.contacts__list
              li.contact__item: a.contacts__mobile(href="tel:+48690965363")
                i.fa.fa-phone(aria-hidden="true")
                p.contact__item__text +48 69 096 5363
              li.contact__item: a.contacts__skype(href="skype:iurii.prytula?chat")
                i.fa.fa-skype(aria-hidden="true")
                p.contact__item__text  iurii.prytula
              li.contact__item: a.contacts__telegram(href="tg://resolve?domain=iurii_p")
                i.fa.fa-telegram(aria-hidden="true")  
                p.contact__item__text iurii_p
              li.contact__item: a.contacts__email(href="mailto:iurii.pytula@gmail.com")
                i.fa.fa-envelope(aria-hidden="true") 
                p.contact__item__text iurii.pytula@gmail.com
          .col-lg-3.col-sm-16.col-xs-12
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, aut sunt quo vel explicabo vitae eum modi veniam cupiditate.
          .col-lg-6.col-sm-6.col-xs-12
            .footer__copyright
              p.copyright__content Iurii Prytula | Created with love | &copy; 2017