header.header
  .container
    .flexbox-container
      .socials
        ul.socials
          li.socials__item: a.socials__link.socials__link_fb(href="#"): i.fa.fa-facebook(aria-hiddeb="true")
          li.socials__item: a.socials__link.socials__link_li(href="#"): i.fa.fa-linkedin(aria-hiddeb="true")
          li.socials__item: a.socials__link.socials__link_gh(href="#"): i.fa.fa-github(aria-hiddeb="true")
      nav.nav
        ul.nav__list
          li.nav__item: a.nav__link(href="#") My portfolio
          li.nav__item: a.nav__link(href="#") About me