$mainFont: 'Roboto',
sans-serif;
$fontSize: 16px;
$green: #00bfa5;
@import '_normalize.scss';
@import 'preloader';
html,
body {
  font-family: $mainFont;
  font-size: $fontSize;
  height: 100%;
}

.wrapper {
  display: none;
}

.welcome-page {
  position: relative;
  height: 100vh;
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
  }
}

.parallax {
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  .parallax__layer {
    position: absolute;
    height: 100vh;
    width: 120vw;
    margin-left: -5vw;
    bottom: 0;
    transition: all .2s linear;
    .parallax__image {
      display: block;
      position: absolute;
      bottom: 0;
      width: 120vw;
      height: 100vh;
      margin-left: -10vw;
    }
  }
}

.copyright {
  flex: 0 0 auto;
}

.card {
  min-width: 20rem;
  text-align: center;
  border-radius: .3125rem;
  overflow: hidden;
  display: none;
}

.card__main {
  background-color: rgba(#f6f7f6, 0.7);
}

.card__avatar {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card__avatar_img {
  width: 15.625rem;
  border-radius: 18.75rem;
}

.card__name {
  font-size: 1.4rem;
}

.card__description {
  padding-top: .625rem;
  & .card__description_paragraph {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.card__socials {
  .socials {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    .socials__item {
      font-size: 1.5rem;
      padding: .625rem .625rem;
      & i {
        color: $green;
      }
      & i:hover {
        opacity: 0.6;
      }
    }
  }
}

.welcome-page__nav__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.welcome-page__nav__item {
  display: flex;
  flex-grow: 1;
  border-left: 1px solid #73cac2;
  border-right: 1px solid #73cac2;
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
}

.welcome-page__nav__link {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $green;
  text-decoration: none;
  flex-grow: 1;
  &:hover {
    background-color: rgba(#00bfa5, 0.5);
    transition: 0.5s;
  }
}

.copyright {
  color: rgba(#f6f7f6, 0.85);
  font-size: 0.8rem;
}

//=====about======//
.container {
  margin-right: auto;
  margin-left: auto;
  width: 78rem;
}

.header {
  display: flex;
}

.header-socials {
  .socials {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .socials__link {
    color: #fff;
    font-size: 1.5rem;
    padding-right: 1rem;
    &:hover {
      opacity: .7;
    }
  }
}

.flexbox-container {
  display: flex;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  .header-nav__list {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .header-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 1rem;
    padding-bottom: .2rem;

    &:hover {
      border-bottom: 3px solid #ffffff;
      transition: .3s;
    }
  }
}

.hero {
  color: #fff;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    img {
      display: block;
      width: 100%;
    }
  }
  .hero__content {
    display: flex;
    height: 70vh;
    justify-content: center;
    .card {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .card__main {
    background-color: transparent;
    color: #fff
  }
  .card__name {
    font-size: 2rem;
  }
  .card__avatar {
    padding-top: 0;
    padding-bottom: 1%;
  }
  .card__avatar_img {
    width: 10rem;
  }
}

.arrow-down-link {
  display: none;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  &:hover {
    opacity: .7;
  }
}